<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="GET" action="/regaction/">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" name="Name" required></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><input type="text" name="Adress" required></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" name="Email" required></td> 
            
        </tr>
        <tr>
            <td>Age</td>
            <td><input type="number" name="Age" required></td>
        </tr>
        <tr>
            <td>Dob</td>
            <td><input type="date" name="Dob" required></td>
         </tr>
         <tr>
             <td>Mob</td>
             <td><input type="number" name="Mob" required></td>
         </tr>
         <tr>
             <td>Password</td>
             <td><input type="password" name="Password" ></td>
         </tr>
         <tr>
         <td><input type="submit" value="Submit"></td>
         </tr>
    </table>
    </form>
</body>
</html>