<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="2">
        <tr>
            <th>id</th><th>relationship</th><th>education</th><th>work</th><th>hobbies</th><th>tagline</th>
        </tr>
        {% for s in usr %}
        <tr>
            <td>{{s.id}}</td>
            <td>{{s.relationship}}</td>
            <td>{{s.education}}</td>
            <td>{{s.work}}</td>
            <td>{{s.hobbies}}</td>
            <td>{{s.tagline}}</td>
        </tr>
        {% endfor %}
    </table>
    
    
</body>
</html>